In [1]:
import seaborn as sns
import metapack as mp
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display 

%matplotlib inline
sns.set_context('notebook')
mp.jupyter.init()

In [2]:
pkg = mp.jupyter.open_package()
#pkg = mp.jupyter.open_source_package()
pkg

# Zip code (zcta) To County Crosswalk
`census.gov-zcta_county-1.1.1` Last Update: 2020-11-09T22:02:58

_Maps Cenus zip-code tabulation areas to Counties_






## Contacts

* **Wrangler** [Eric Busboom](mailto:eric@civicknowledge.com), [Civic Knowledge](http://civicknowledge.com)

## Resources

* ** [county_zcta](data/county_zcta.csv)**. County to Zcta Crosswalk

## References
<ul><li> <strong>zctas</string>, <em>censusgeo://2018/5/CA/zcta/</em>. ZCTA Geography file</li><li> <strong>counties</string>, <em>censusgeo://2018/5/US/county/</em>. Counties geography file</li><ul>

In [7]:
df = pkg.resource('county_zcta').dataframe()

In [8]:
df

       state  county   zcta    zcta_geoid  county_geoid
0         31      39  68788  86000US68788  05000US31039
1         31      39  68716  86000US68716  05000US31039
2         31      39  68791  86000US68791  05000US31039
3         31      39  68004  86000US68004  05000US31039
4         53      69  98647  86000US98647  05000US53069
...      ...     ...    ...           ...           ...
33134     54      99  25699  86000US25699  05000US54099
33135     54      99  25511  86000US25511  05000US54099
33136     54      99  25534  86000US25534  05000US54099
33137     54      99  25514  86000US25514  05000US54099
33138     54      99  25517  86000US25517  05000US54099

[33139 rows x 5 columns]